#container {
    background-color: antiquewhite;
    height: 80%;
}
h1 {
    color: red;
    font-size: 250%;
    padding: 5%;
    margin: 0%;
}
#dis {
    color: blue;
    font-size: 150%;
}
/* #btn { */
    /* width: 10%; */
    /* height: 7%; */
    /* border-radius: 18%; */
    /* background-color: cadetblue; */
/* } */
#secd {
    width: 48%;
    height: 10%;
    text-align: center;
    justify-items: center;
}
body {
    text-align: center;
    align-items: center;
    margin: 10vh;
    /* margin-bottom: 15%; */
}